body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #222;
  overflow-x: hidden; /* Disable horizontal scrolling */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  overflow: hidden;
  height: 100vh; /* Set a fixed height to allow vertical scrolling */
}

.water-bg {
  background: linear-gradient(180deg, #055799, #0274a6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  height: 100%; /* Set the height to occupy the entire container */
}

.bubble-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
}

.bubble {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  pointer-events: none;
  animation: bubbleAnimation linear infinite;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(100%) translateX(-50%);
    opacity: 0.8;
  }
  25% {
    transform: translateY(0) translateX(50%);
    opacity: 1;
  }
  50% {
    transform: translateY(-50%) translateX(-50%);
    opacity: 0.8;
  }
  75% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateY(100%) translateX(50%);
    opacity: 0.8;
  }
}

h1, h2 {
  color: #fff;
}

.hero {
  padding: 60px 0;
}

.btn {
  background-color: #ff5500;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
}

.btn:hover {
  background-color: #ff4400;
}

.about {
  padding: 60px 0;
}

.about ul {
  list-style-type: disc;
  padding-left: 20px;
}

.contact-details a {
  color: #ff5500;
}

.photo {
  max-width: 200px;
  display: block;
  margin: 20px auto;
  border-radius: 50%;
}
